
body {
  background-color: grey;
}

.container {
  margin-top: 30px;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h1 {
  font-family: Arial;
    margin-top: 35px;
    text-align: center;
    color: black;
}
li{
    font-family: Arial;
    color: black;
    line-height: 28px;
    font-size: 17px;
    list-style: none;
    margin-left: 40px;
}

.avatar {
    width: 250px;
    height: 250px;
    background: url('../img/avatar.jpg') 50% 50% no-repeat;
}
.buttons {
    margin:10px 0 50px 60px;
}
.btn.btn-color {
    border: 2px solid black;
    background-color: grey;
    color: black;
}
.boxInfo {
    margin-top: 25px;
}
.loading {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url('../img/loading.gif') 50% 40% no-repeat;
}
